config-toolkit/src/main/resources/META-INF/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool" xmlns:tns="https://crnlmchina.github.io/config"
	targetNamespace="https://crnlmchina.github.io/config"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<import namespace="http://www.springframework.org/schema/beans" />
	<import namespace="http://www.springframework.org/schema/tool" />


	<element name="profile" type="tns:profile"></element>
	<element name="group" type="tns:group"></element>

	<complexType name="profile">
		<attribute name="id" type="string" use="optional" default="configProfile" />
		<attribute name="connect-str" type="string" use="required" />
		<attribute name="root-node" type="string" use="required" />
		<attribute name="version" type="string" use="required" />
	</complexType>
	<simpleType name="configProfileRef">
		<annotation>
			<appinfo>
				<tool:annotation kind="ref">
					<tool:assignable-to type="com.dangdang.config.service.zookeeper.ZookeeperConfigProfile" />
				</tool:annotation>
			</appinfo>
		</annotation>
		<union memberTypes="string" />
	</simpleType>
	<complexType name="group">
		<attribute name="config-profile-ref" type="tns:configProfileRef" use="optional" default="configProfile" />
		<attribute name="id" type="string" use="required" />
		<attribute name="node" type="string" use="required" />
	</complexType>
</schema>